@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(39, 42, 44);;
}

/* Menu */
.menu-container {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
}

.menu-top {
    height: 50px;
    display: flex;
    background-color: #131921;
    justify-content: space-between;
}

#menu-logo {
    color: #ffffff;
    padding-left: 20px;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif!important;
}

#menu-logo a, .menu-login a, .menu-link a {
    color: #ffffff;
    text-decoration: none;
}

.menu-login {
    padding-right: 20px;
    line-height: 50px;
    font-size: 20px;
}

.menu-bottom {
    height: 35px;
    background-color: #232f3e;
    display: flex;
}

.menu-link {
    width: 125px;
    line-height: 35px;
    text-align: center;
    border: 1px solid transparent;
    list-style: none;
}

.menu-link:hover {
    border: 1px solid;
    border-radius: 2px;
    border-color: #ffffff;
}