/* Conteúdo */
.showcase {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
}

.product {
    background-color: orange;
    margin: 20px;
    height: 350px;
}