@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(155, 155, 155);
}

.menu-container {
    display: flex;
    flex-direction: column;
}

#logo {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    line-height: 50px;
    color: white;
}

.menu-login {
    color: white;
    justify-content: flex-end;
    padding-right: 20px;
    line-height: 50px;
    font-size: 20px;
}
.menu-login a {
    color: white;
    text-decoration: none;
}


.menu-top {
    display: flex;
    justify-content: space-between;

    height: 50px;
    background-color: #131921;
}

.menu-bottom {
    height: 35px;
    background-color: #232f3e;
    text-align: left;
    display: flex;
    
}

.menu-link {
    width: 125px;
    text-align: center;
    border: 1px solid transparent;
    list-style: none;
}

.menu-link a {
    font-family: 'DM Sans', sans-serif;
    color: white;
    text-decoration: none;
    line-height: 35px;
}

.menu-link:hover {
    border: 1px solid;
    border-radius: 2px;
    border-color: white;
}

.footer {
    color: white;
    text-align: center;
    background-color: #131921;   
    height: 50px;
    line-height: 50px;
}

.content {
    min-height: calc(100vh - 85px - 50px);
}
